@font-face {
	font-family: "HelveticaNeueCyr";
	src: url('../../../public/fonts/HelveticaNeueCyr/roman/roman.eot') format('embedded-opentype');
	src: url('../../../public/fonts/HelveticaNeueCyr/roman/roman.woff') format('woff');
	src: url('../../../public/fonts/HelveticaNeueCyr/roman/roman.woff2') format('woff2');
	src: url('../../../public/fonts/HelveticaNeueCyr/roman/roman.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url('../../../public/fonts/HelveticaNeueCyr/medium/medium.eot') format('embedded-opentype');
	src: url('../../../public/fonts/HelveticaNeueCyr/medium/medium.woff') format('woff');
	src: url('../../../public/fonts/HelveticaNeueCyr/medium/medium.woff2') format('woff2');
	src: url('../../../public/fonts/HelveticaNeueCyr/medium/medium.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


//HelveticaNeueCyr-Medium