.wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.star-btn {
	width: 25px;
	height: 25px;

	&:hover {
		.star {
			background-image: url('../../../../public/icons/star-active.svg');
		}
	}
}

.star {
	display: block;
	width: 100%;
	height: 100%;

	background-image: url('../../../../public/icons/star.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	&_active {
		background-image: url('../../../../public/icons/star-active.svg');
	}
}
